*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
html{
    font-size: 62.5%;
}

:root{
    --primary-color: #1abc9c;
    --font-primary: #4ec6ab;
    --font-white: #ffffff;
    --font-brown: #656262;
    --font-black: #0f0101;
    --font-title: #555252;
}


.btn {
    width: 160px;
    height: 50px;
    background-color: var(--primary-color);
    color: var(--font-white);
    outline: none;
    cursor: pointer;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Animation */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


/* title + title border */

.title {
    font-size: 4.0rem;
    color: var(--font-title);
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.title-border {
    position: relative;
    width: 165px;
    height: 8px;
    background-color: var(--primary-color);
}

.title-border::before {
    content: '';
    position: absolute;
    width: 165px;
    height: 2px;
    background-color: var(--primary-color);
    top: -50%;
}
.title-border::after {
    content: '';
    position: absolute;
    width: 165px;
    height: 2px;
    background-color: var(--primary-color);
    bottom: -50%;
}





